.special-link {
    color: hsl(261, 31%,36%);
  }

.blog-link {
  color: whitesmoke;
  text-decoration: none !important;
  
  
}

.blog-date {
  color: hsl(148, 71%, 23%);
}

.blog-author {
  color: hsl(261, 31%,36%);
}

.message-header {background-color: hsl(261, 31%,36%);}




.blog-body > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;  
}

html {
  background-color: hsl(278, 7%, 83%);
}

#about-me-tile {
  background-color: whitesmoke;
}

#about-me-tile2 {
  background-color: hsl(151, 69%, 94%);
}
 
#about-me-message {
  background-color: white;
}

.with-image {
    background-image: url("/images/background2.jpg");
    background-size: cover;
    // I changed that height
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
   
}

p {margin-bottom: 10px;}

h1 {margin-top: 20px;
  margin-bottom: 20px;
  height: 32px !important;
}


span a {
  text-decoration: none !important;
}
article .message-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

span a {
  text-decoration: none !important;
}

.pagination-link.is-current {background-color: hsl(268, 2%, 41%);
}

.pagination-link {background-color: hsl(0, 0%, 96%)}

.pagination-next {background-color: hsl(0, 0%, 96%)}

.pagination-previous {background-color: hsl(0, 0%, 96%);}

.message-body > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.footer {
  padding: 1.5rem;
}