<h1 class=title><%= @page_title %></h1>

<ul>
  <%= for post <- @posts do %>
    <li>
    <article class="message">
    <div class="message-header">
        <p><%= post.title %></p>
    </div>
    <div class="blog-date">
        <p><%= post.date %></p>
    </div>
    <div class="message-body">
        <p><%= post.description%></p>
    </div>
    </li>
    </article>

  <% end %>
</ul>
