<h1><%= @page_title %></h1>

<ul>
  <%= for post <- @posts do %>
    <li>
        <p><%= link post.title, to: Routes.post_path(@conn, :show, post), class: "blog-link"%></p>

    </li>

  <% end %>
</ul>
